@use 'util/index' as u;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
  --c-black: #000000;
  --c-gray: #3a3a3a;
  --c-white: #ffffff;
  --c-light-gray: #dcdcdc;
    --c-middle-gray: #808080;
  --c-blue: #007bff;
    --c-red: #dc3545;
    --c-green: #28a745;
    --c-yellow: #ffc107;

  --f-xl: min(7.46667vw,  #{u.rem(38)});
  --f-l:  min(3.73333vw,  #{u.rem(17)});
  --f-m:  min(3.73333vw,  #{u.rem(14)});
  --f-s: #{u.rem(20)};
  --f-xs: #{u.rem(14)};
  --f-body: #{u.rem(15)};
}

html {
  font-size: 100%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;;
}

.wrapper {
  width: min(#{u.rem(1350)}, calc(100% - #{u.rem(30)}));
  margin-inline: auto;
}

.data {

  display: flex;

  &__primary {
    flex-grow: 2;
  }

  &__secondary {
    flex-grow: 1;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;

  line-height: 1.7;
  padding-block-end: 50vh;
}


h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
  transition: 150ms ease-in-out;
  transition-property: color, background-color;
}



