@use '../util' as u;

$opacity: 0.6;
$height: u.rem(60);

.header {
  height: $height;
  padding: 0 u.rem(20) 0 u.rem(20);
  position: sticky;
  border-bottom: 1px solid var(--c-light-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;

  //Stretch background to the full width of the viewport
  box-shadow: 0 0 0 100vmax var(--c-white);
  clip-path: inset(0 -100vmax);


  &__logo {
    line-height: $height;
    font-size: var(--f-l);
    color: var(--c-gray);

  }


  &__search {
    width: u.rem(300)  !important;
    @media(max-width: 768px) {
      display: none !important;
    }
  }
}